<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="username" name="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input
        [(ngModel)]="password"
        type="password"
        name="password"
      ></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Ingresar</ion-button>
  </form>

  @if(error){
  <p style="color: red">{{ error }}</p>
  }
</ion-content>
