<form [formGroup]="form">
  <ion-item>
    <ion-label position="floating">Nombre de la liga</ion-label>
    <ion-input formControlName="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Logo</ion-label>
    <input type="file" (change)="onLogoSelected($event)" accept="image/*" />
  </ion-item>

  @if(logoPreview){
  <div class="logo-preview">
    <img [src]="logoPreview" alt="Logo preview" />
  </div>
  }

  <ion-item class="participants">
    <ion-label>Participants</ion-label>
    <div *ngIf="friends && friends.length > 0; else noParticipants">
      <ion-select [multiple]="true" formControlName="participants">
        @for(participant of friends; track participant.id){
        <ion-select-option [value]="participant.id">{{ participant.username }}</ion-select-option>
        }
      </ion-select>

    </div>
    <ng-template #noParticipants>
      <ion-item>
        <ion-label>Try adding someone first!</ion-label>
      </ion-item>
    </ng-template>
  </ion-item>

  <ion-button slot="end" type="button" [disabled]="form.invalid" (click)="onSubmit()">{{ exists ? 'Save league' :
    'Create league' }}</ion-button>

</form>